  <div class="truck-box">
    <img src="<%= t.image_small %>" width="290" height="210" />
    <h5><a href="/trucks/<%= t.slug %>"><%= t.name %></a></h5>
    <p><%= t.description %></p>
    Cuisine: <%= t.cuisine %>
    <a href="/trucks/<%= t.website %>"><%= t.website %>
  </div>