  <div class="truck-box">
    <img src="<%= t.image_small %>" width="290" height="210" />
    <h5><a href="/trucks/<%= t.slug %>"><%= t.name %></a></h5>
    <em><%= t.cuisine %></em>
    <br /><br />
    <p><%= t.description %></p>
    <a target="_blank" href="<%= t.website %>">Website</a>
    <br/ ><br/ >
  </div>
