  <div class="truck-box <%= "open-truck" if t.open? %>">
    <div class="tuck-box-img-holder"><a href="/trucks/<%= t.slug %>"><img src="<%= t.image_small %>" width="290" height="210" class="truck-small-image"/></a></div>
    <% if current_user %>
    <a href="" class="heart-live-anchor" userid="<%=current_user.id%>" truckid="<%=t.id%>">
    <% else %>
    <a href="#" class="heart-dead-anchor">
    <% end %>
    <% if current_user && (current_user.favourite_truck_ids.include? t.id) %>
      <img src="/images/heart_red.png" height="25" width="25" class="hearted" />
    <% else %>
      <img src="/images/heart.png" height="25" width="25" class="heart" />
    <% end %>
    </a>
    <h5><a href="/trucks/<%= t.slug %>"><%= t.name %></a></h5>
    <em><%= t.cuisine %></em>
    <br /><br />
    <p><%= t.description %></p>
    <% if t.website.length > 1 %>
    <a target="_blank" href="<%= t.website %>" class="website-link">Website</a>
        <br/ ><br/ >

    <% end %>
  </div>
