<h1><a href="<%= @truck.website %>"><%= @truck.name %></a></h1>
<img src="<%= @truck.image_large %>" />
<form method="post" action="/ratings" id="ratings-form">
    <div id="stars-input">
      <strong>Rating</strong>
      <input type="range" value="<%= @truck.rating.to_i %>" step="1" id="stars" name="rating">
      <input type="hidden" name="truck_id" value="<%= @truck.id %>">
      <input type="hidden" name="user_id" value="<%= current_user.id if current_user %>">
      <div class="rateit svg" data-rateit-backingfld="#stars" data-rateit-resetable="false"  data-rateit-ispreset="true"
    data-rateit-min="0" data-rateit-max="5" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-value="<%= @truck.rating.to_i %>" <%= 'data-rateit-readonly="true"' unless current_user %>></div>
    </div>
    <br />
    <input type="submit" value="Submit" class="hidden">
</form>

<p><%= @truck.description %></p>

<% if current_user %>
<section class="truck-notes">
<% @truck.notes.where(user_id: current_user.id).each do |n| %>
  <div class="note">
  Your notes: <strong>"<%= n.content %>"</strong>
  </div>
<% end %>
</section>
<% end %>

<section class="note-form">
  <h5>Write a personal note!</h5>
  <% if current_user %>
  <form method="post" action="/notes">
    <label>Content:</label>
    <input type="text" name="content" placeholder="Everyone's a critic!">
    <input type="hidden" name="truck_id" value="<%= @truck.id %>">
    <input type="hidden" name="user_id" value="<%= current_user.id %>">
    <input type="Submit" class="button"></button>
  </form>
  <% else %>
  <p>You must be <a href="/login">logged in</a> to leave a note.</p>
  <% end %>
</section>
