<h1><%= @truck.name %><% if @truck.open? %>
<a href="https://maps.google.com?saddr=Current+Location&daddr=
<%= @truck.escaped_current_stop_lat_lng %>" class="small button" target="_blank"/>GET DIRECTIONS &rarr;</a>
<% end %></h1>

<img src="<%= @truck.image_large %>" />
<form method="post" action="/ratings" id="ratings-form">
    <div id="stars-input">
      <strong>Rating</strong>
      <input type="range" value="<%= @truck.rating.to_i %>" step="1" id="stars" name="rating">
      <input type="hidden" name="truck_id" value="<%= @truck.id %>">
      <input type="hidden" name="user_id" value="<%= current_user.id if current_user %>">
      <div class="rateit svg" data-rateit-backingfld="#stars" data-rateit-resetable="false"  data-rateit-ispreset="true"
    data-rateit-min="0" data-rateit-max="5" data-rateit-starwidth="32" data-rateit-starheight="32" data-rateit-value="<%= @truck.rating.to_i %>" <%= 'data-rateit-readonly="true"' unless current_user %>></div>
    </div>
    <br />
    <input type="submit" value="Submit" class="hidden">
</form>

<% if @truck.open? %>
<p><strong class="open-message">This truck is currently open at <%= @truck.current_stop.name + "!" %></strong></p>
<% end %>
<% if @truck.cuisine.to_s.length > 1 %>
<p>Cuisine: <%= @truck.cuisine %></p>
<% end %>
<p><%= @truck.description %></p>
<p>Visit <a href="<%= @truck.website %>"><%= @truck.name %>'s website</a></p>

<% if current_user %>
<section class="truck-notes">
<% @truck.notes.where(user_id: current_user.id).each do |n| %>
  <div class="note">
  Your notes: <strong>"<%= n.content %>"</strong>
  </div>
<% end %>
</section>
<% end %>

<section class="note-form">
  <h5>Write a personal note!</h5>
  <% if current_user %>
  <form method="post" action="/notes">
    <input type="text" name="content" placeholder="Everyone's a critic!">
    <input type="hidden" name="truck_id" value="<%= @truck.id %>">
    <input type="hidden" name="user_id" value="<%= current_user.id %>">
    <input type="Submit" class="button"></button>
  </form>
  <% else %>
  <p>You must be <a href="/login">logged in</a> to leave a note.</p>
  <% end %> 
  </section> 

<% if @truck.open? %>
  <p><strong><font color="green"> OPEN NOW </font></strong><font color="grey"> until </font><%= @truck.stops.last.to.strftime("%I:%M %p") %></p>

  <div id="map"></div>
  
<% else %>
  <p><strong><font color="c51820"> CLOSED </strong></p>
<% end %>


<script>

  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 43.652644, lng: -79.381769},
      zoom: 8
    });

    var LatLng = {
      'lat': <%=@lat %>, 
      'lng': <%=@long %>
    };

    var marker = new google.maps.Marker({
      position: LatLng
    });
    marker.setMap(map);
  }

  function getLocation() {
    initMap();
  }

  </script>




