<h1><a href="<%= @truck.website %>"><%= @truck.name %></a></h1>
<img src="<%= @truck.image_large %>" />
<form method="post" action="/ratings">
    <div id="stars-input">
      <strong>Rating</strong>
      <input type="range" value="<%= @truck.rating.to_i %>" step="1" id="stars" name="rating">
      <input type="hidden" name="truck_id" value="<%= @truck.id %>">
      <input type="hidden" name="user_id" value="<%= current_user.id %>">
      <div class="rateit svg" data-rateit-backingfld="#stars" data-rateit-resetable="false"  data-rateit-ispreset="true"
    data-rateit-min="0" data-rateit-max="5" data-rateit-starwidth="32" data-rateit-starheight="32"></div>
    </div>
    <br />
</form>

<p><%= @truck.description %></p>
<% user_already_wrote_note = false %>
<% if @truck.notes.length > 0 %>
<section class="truck-notes">
  <% @truck.notes.each do |n| %>
    <% if current_user && n.user_id == current_user.id %>
    <% user_already_wrote_note = true %>
    <div class="note">
    Your notes: <strong>"<%= n.content %>"</strong>
    </div>
    <% end %>
  <% end %>
  </section>
<% elsif user_already_wrote_note == false  %>
  <section class="note-form">
    <h5>Write a personal note!</h5>
    <% if current_user %>
    <form method="post" action="/notes">
      <label>Content:</label>
      <input type="text" name="content" placeholder="Everyone's a critic!">
      <input type="hidden" name="truck_id" value="<%= @truck.id %>">
      <input type="hidden" name="user_id" value="<%= current_user.id %>">
      <input type="Submit" class="button"></button>
    </form>
    <% else %>
    <p>You must be <a href="/users">logged in</a> to leave a note.</p>
    <% end %>
  </section>
<% end %>

<p><%= @truck.stops %></p>
  <% start_time = @truck.stops.from %>
  <% end_time = @truck.stops.to %>
    <% if (start_time..end_time).include? Time.now %>

    <script>
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -34.397, lng: 150.644},
        zoom: 8
      });
    }
    </script>
  
  <% end %>
