<h2>My Profile</h2>
<h4>Keep on truckin', <%= @user.email %>!</h4>

<table id="profile-table"><tr><td>
<h4>Favourites</h4>
<% @favourites.each do |f| %>
<strong><a href="/trucks/<%= f.truck.slug %>"><%= f.truck.name %></a></strong><br />
<% end %>

</td><td>
<h4>Notes</h4>
<% last_truck_id = nil %>
<% @notes.order(:truck_id, created_at: :desc).each do |note| %>
  <% if note.truck.id != last_truck_id %>
  <h5><a href="/trucks/<%= note.truck.slug %>"><%= note.truck.name %></a></h5>
  <% end %>

  <p>
  <%= note.content %>
  </p>

  <% last_truck_id = note.truck.id %>
<% end %>
</td></tr></table>